body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-family: 'Sacramento', cursive;
  margin: 20px auto 20px auto;
  padding-top: 40px;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 4;
}

.break_1{
  margin: 10px;
}

h2{
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;


}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}

.line_1{
  margin: 50px auto;
  border-style: solid;
  border-radius: 25px;
  height: 5px;
  width: 80%;
  color: #E0FFF0;
  background-color: #DFF0E7
}

.body_line{
  border: dotted #6a97bf 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}

p{
  font-weight:bold;
  line-height: 2;
}

.intro{
  margin: auto;
  width: 40%;
}

a{
  color: #11999E;
  font-family: 'Merriweather', serif;
  margin: 20px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.profile_pic{
  margin-top: 45px;
  height: 220px;
}

.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;

}



.Photoshop{
  margin-right: 30px;
  float: left;
  height: 100px;
}

.Illustrator{
  float: right;
  height: 100px;
  margin-left: 30px;
}

.After_Effects{
  margin-right: 30px;
  float: left;
  height: 100px;
}

.Premier_pro{
  float: right;
  height: 100px;
}
.Atom{
  margin-right: 30px;
  float: left;
  height: 100px;
}

.Illustrator_text{
  margin-left: 200px;
}

.Premier_text{
  margin-left: 200px;
}

#portfolio_row{
  margin-bottom: 10px;
  
}

.marketing{
  color: #7aa9d3;
  font-size: 210%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hide{
  align-items: center;
  border-radius: 20px;
  width: 3vw;
  /* display: flex; */
  padding: 0.5%;
  color: #b2b2d0;
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
  font-size: 75%;
  
}

.line_2{
  margin: 20px auto;
  border-style: solid;
  border-radius: 5px;
  height: 1px;
  width: 20%;
  color: #b8d9ff;
  background-color: #b8d9ff
}

.sample_image{
  width: 20%;
  margin-right: 5px;
}

.image_middle{
  margin-left: 20px;
  margin-right: 20px;
}

.shadow{
  /* box-shadow: 0 1920px 1080px 0 #333333; */
  background-color: #262050;
  /* opacity: 0.5;
  width: 100%;
  height: 100%; */
  /* position: absolute; */
  /* opacity: 0.5; */
}

.arrow{
  position: absolute;
  width: 70px;
  left: 10px;
  top: 20px;
}

.dial{
  width: 750px;
  
}
@media (max-width:900px) {
  .dial{
    width: 600px;
  }
}

.larger_view{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #adadad;
}



/* .image-container{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #676767;
}

.image-container img {
  width: 50%;
  height: 50%;
  object-fit: cover;
} */
/* .sample_image2{
  width: 20%;
  margin-right: 5px;
} */

/* .samples-container{
  background-color: #f6f3fb;
  box-shadow: 0 0 30px 15px #f6f3fb;
} */

.samples_div{
  
  padding: 30px;
  /* margin-left: 20%;
  margin-right: 20%; */
}

.thumbnail{
  width: 50%;
}

.last-line{
  width: 15%;
}

.headers{
  position: absolute;
  display: flex;
  color: white;
  left: 80px;
  padding-top: 10px;
}

.top-heading{
  color: white;
}

.vertical-line{
    border-left: 2px solid white;
    height: 30px;
   top: 25px;
    /* position: relative; */
   
  
}

.marketing_background{
  background-color:#c7dcf1;
  width: 1000px;
  height: 410px;
  margin: auto;
  left: 16.5%;
  text-align: center;
  z-index: -1;
  position: absolute;
}

.portfolio{
  position: relative;
  left: 35%;
  margin: 20px auto;
  margin-bottom: 40px;
  height: 250px;
}

.Portfolio_text{
  text-align: center;
  margin: 20px auto 5px;

}

.portfolio_header{
  font-size: 1.7em;
  text-align: center;
  margin: 2px auto 5px;
}

.portfolio_header:hover{
  color: #0703E7;
}

.btn_portfolio {
  background: #4234d9;
  background-image: -webkit-linear-gradient(top, #4234d9, #2980b9);
  background-image: -moz-linear-gradient(top, #4234d9, #2980b9);
  background-image: -ms-linear-gradient(top, #4234d9, #2980b9);
  background-image: -o-linear-gradient(top, #4234d9, #2980b9);
  background-image: linear-gradient(to bottom, #4234d9, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 26px;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
  margin-top: 50px;
  position: relative;
  left: 5%;
}

.btn_portfolio:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.top{
    background-color: #E4F9F5;
  padding-top: 10px;
  position: relative;
}

.middle-container{
  margin: 100px 0;

}

.bottom-container{

  background-color: #262050;
  padding: 30px 0px 20px;


}

.Graphic{
  text-decoration: underline;
}

.p1{
  padding-bottom: 30px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px
}

.top-cloud{
  position: absolute;
  right: 300px;
  padding-bottom: 20px;

}


.contact_message{
  width: 30%;
  margin: auto;
  margin-bottom: 40px;
}

.contact-me{
  margin: 5px auto 120px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 10px auto 20px;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.copy_right{
  color: #EAF6F6;
  font-size: .75rem;
  padding: 20px 0px;
}

.banner{
  position: absolute;
  /* right: 100px;  */
  width: 100%;
  text-align: center;
  
}

.bannerStatic{
  width: 100%;
  text-align: center;
  z-index: -1;
}


.test{
  background-color: red;
  position: absolute;
  width: 70px;
  height: 70px;
  text-align: center;
}